/* src/components/styles/ContentEditable.module.css */
.contentEditable {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: transparent; /* Background color */
  transition: none;
  outline: none; /* Remove default outline */
}

.contentEditable:focus {
  border-color: transparent; /* Change border color on focus */
  box-shadow: none; /* Add shadow on focus */
}
