/* src/components/styles/DraggableContent.module.css */
.dragWrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.dragWrapper:hover {
  background-color: transparent;
}

.dragHandle {
  cursor: grab;
  margin-right: 10px;
}

.dragContent {
  flex-grow: 1;
}
