body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif; /* Use Inter or similar sans-serif */
  font-size: 16px; /* Default font size */
  color: #2f3437; /* Dark gray color for text */
  margin: 0;
  /* Padding around the content */
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.doc-item {
  padding: 5px;
}

.doc-item.active,
.doc-item:hover {
  background-color: #f0f0f0;
}

.top-bar {
  display: flex;
  flex-direction: row-reverse;
}

.top-bar button {
  margin: auto 2px;
}

.main-content {
  flex: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
