body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif; /* Use Inter or similar sans-serif */
  font-size: 16px; /* Default font size */
  color: #2f3437; /* Dark gray color for text */
  margin: 0;
  /* Padding around the content */
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.doc-item {
  padding: 5px;
}

.doc-item.active,
.doc-item:hover {
  background-color: transparent;
}

.top-bar {
  display: flex;
  flex-direction: row-reverse;
}

.top-bar button {
  margin: auto 2px;
}

.main-content {
  flex: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

page-editor {
  background-color: transparent !important;
}
.affine-page-root-block-container {
  max-width: 100% !important;
  height: 100%;
  margin: 0;
  background-color: transparent !important;
}
.page-editor-container .affine-page-root {
  height: 100%;
  background-color: transparent;
}

doc-meta-tags {
  background-color: transparent !important;
  max-width: 80% !important;
  margin-left: 0 !important;
}
.doc-title-container {
  max-width: 100% !important;
  background-color: transparent !important;
}
div.meta-data-expanded.caret-ignore {
  width: 100px;
  background-color: aqua !important;
}
div.meta-data-expanded-title.caret-ignore {
  background-color: aqua !important;
}
.meta-data-expanded.caret-ignore {
  background-color: aqua !important;
}
